{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Live Telemédico | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/lib/quill/quill.core.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/quill/quill.snow.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/quill/quill.bubble.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.contacts.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.demo.css" rel="stylesheet"/>
<style type="text/css">
    .ui-accordion-content {
        border: 0px !important;
        padding: 0 0px 0px 0px !important;
    }
    .contact-list nav {
        display: block !important;
    }
</style>
{% endblock %}
{% block appBody %}
<div class="content content-fixed content-auth-alt">
    <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15">
                <img alt="" class="img-fluid" src="assets/mail/images/metrolab.logo.png"/>
            </div>
            <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">
                Telemédico
            </h1>
            <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-30 mg-t-20">
                Su Médico esta por inicar su atención.
            </h5>
            <p class="tx-color-03 mg-b-15" id="doctor">
            </p>
            <p class="tx-color-03 mg-b-15" id="espe">
            </p>
            <p class="tx-color-03 mg-b-15" id="cita">
            </p>
            <p class="tx-color-03 mg-b-15" id="dura">
            </p>
            <div class="mg-b-40" id="loading-cita">
                <button class="btn btn-white pd-x-30">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        ...
                    </div>
                    Esperando Conexión
                </button>
                <br/>
                <span class="tx-12 tx-color-0">
                    *Nuestro especialista esta por conectarse, no salga de este sitio.
                </span>
            </div>
            <div class="mg-b-40 d-none" id="link-zoom">
                <a class="btn btn-primary pd-x-30" href="#!" id="b-link-zoom" role="button">
                    Ingresar a mi atención
                </a>
            </div>
            <span class="tx-12 tx-color-0 mg-b-100">
                Comentarios y Sugerencias
                <a href="mailto:serv.cliente@hmetro.med.ec">
                    Servicio al Cliente
                </a>
            </span>
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->
{% endblock %}
{% block appFooter %}
{% include 'overall/footer' %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script type="text/javascript">
    var idH = '{{get.idH}}';
    var idT = '{{get.idT}}';
</script>
<script defer="" src="dist/app/js/live.js?{{ date().timestamp }}">
</script>
{% endblock %}
