{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Soporte | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">
                    Centro de Soporte
                </h4>
                <p class="mg-b-0 tx-color-03">
                    Busque cualquier pregunta o tema de ayuda. ¿No encuentras lo que necesitas? Genera un ticket de soporte.
                </p>
            </div>
            <div class="search-form mg-t-20 mg-sm-t-0">
                <input class="form-control" placeholder="Buscar" type="search">
                    <button class="btn" type="button">
                        <i data-feather="search">
                        </i>
                    </button>
                </input>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->
<div class="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
            <div class="col-lg-3 col-xl-2 d-none d-lg-block">
                <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-15">
                    Inicio
                </label>
                <nav class="nav nav-classic">
                    <a class="nav-link active" href="{{config.build.url}}soporte">
                        Tutoriales
                    </a>
                    <a class="nav-link" href="{{config.build.url}}soporte/mis-tickets">
                        Mis Tickets
                    </a>
                    <a class="nav-link" href="{{config.build.url}}soporte/comentarios-y-sugerencias">
                        Comentarios y Sugerencias
                    </a>
                </nav>
            </div>
            <!-- col -->
            <div class="col-lg-9 col-xl-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item">
                            <a href="#">
                                Centro de Soporte
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">
                                <span class="d-sm-none">
                                    ...
                                </span>
                                <span class="d-none d-sm-inline">
                                    Inicio
                                </span>
                            </a>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">
                            Tutoriales
                        </li>
                    </ol>
                </nav>
                <h3 class="mg-b-25">
                    Tutoriales
                </h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bd pd-20">
                            <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">
                                NPM Installation
                            </label>
                            <ul class="list-unstyled lh-7 mg-b-0">
                                <li>
                                    <a class="link-01" href="">
                                        Common errors when intalling NPM
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        NPM for Windows
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Cannot install npm in mac
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        NPM does not recognize in local
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        NPM version not showing when doing command
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                        <div class="bd pd-20">
                            <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">
                                Bootstrap Installation
                            </label>
                            <ul class="list-unstyled lh-7 mg-b-0">
                                <li>
                                    <a class="link-01" href="">
                                        Common errors when intalling Bootstrap
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Migrating from Bootstrap 3
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Bootstrap using Webpack
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Bootstrap react components
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Example of bootsrap page using navbar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                        <div class="bd pd-20">
                            <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">
                                SASS Customization
                            </label>
                            <ul class="list-unstyled lh-7 mg-b-0">
                                <li>
                                    <a class="link-01" href="">
                                        Minimize sass to css without bootstrap
                                    </a>
                                </li>
                                <li>
                                    <a class="link-01" href="">
                                        Adding more utilities classes in sass
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- col -->
        </div>
    </div>
</div>
<!-- content -->
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
{% endblock %}
