{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Soporte | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">
                    Centro de Soporte
                </h4>
                <p class="mg-b-0 tx-color-03">
                    Genera un ticket de soporte.
                </p>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->
<div class="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
            <!-- col -->
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <h3 class="mg-b-25">
                    Generar Ticket:
                </h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bd pd-20">
                            <ul class="list-unstyled lh-7 mg-b-0">
                                <li>
                                    <a class="link-01" href="mailto:concas@hmetro.med.ec?subject=Soporte%20Ayuda%20Telemedico&body=Detalle%20su%20inconveniente%20aquí.">
                                        Click Aquí para generar un Ticket
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- col -->
        </div>
    </div>
</div>
<!-- content -->
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script defer="" src="dist/app/js/perfil.js?{{ date().timestamp }}">
</script>
<script defer="" src="dist/app/js/soporte.js?{{ date().timestamp }}">
</script>
{% endblock %}
