<template id="v-loader">
    <div class="placeholder-paragraph pd-y-25 pd-x-20">
        <div class="line">
        </div>
        <div class="line">
        </div>
    </div>
</template>
<template id="v-not-results">
    <div class="card card-body ht-lg-100">
        <div class="media">
            <span class="tx-danger op-10">
                <i class="icon ion-md-information-circle tx-40 ">
                </i>
            </span>
            <div class="media-body mg-l-20">
                <h6 class="tx-color-03 mg-b-10">
                    Sin resultados
                </h6>
                <p class="tx-color-03 mg-b-0">
                    %message%
                </p>
            </div>
        </div>
    </div>
</template>
<template id="v-cita">
    <a class="media op4" data-codpte="%id%" data-fecha="%fecha%" data-hcpte="%nhc%" data-hora="%hora%" data-idh="%idh%" data-idt="%idt%" data-nombpte="%pte%" data-numadm="%numAdm%" data-timestamp="%timestamp%" data-timestampfin="%timestampFin%" href="#">
        <div class="avatar avatar-sm" id="%_id_%">
            <span class="avatar-initial bg-dark rounded-circle op-4">
                %inicial%
            </span>
        </div>
        <div class="media-body mg-l-10">
            <h6 class="mg-b-0 tx-12">
                %pte%
            </h6>
            <small class="d-block">
                %fecha%
                <span class="badge badge-primary">
                    %hora%
                </span>
            </small>
        </div>
        <!-- media-body -->
    </a>
</template>
<template id="v-citasHoy">
    <div class="flex-fill pd-y-20 pd-x-10 bd-t-0">
        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-sans tx-spacing-1 pd-l-10 mg-b-10">
            Mis pacientes de Hoy
        </p>
        <div class="chat-msg-list l-citasHoy">
        </div>
        <!-- media-list -->
    </div>
</template>
<template id="v-paciente">
    <div class="row">
        <div class="col-sm">
            <label class="tx-10 tx-medium tx-primary tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
                Nombres y Apellidos
            </label>
            <p class="mg-b-0">
                %primerNombre% %segundoNombre% %primerApellido% %segundoApellido%
            </p>
        </div>
    </div>
    <!-- row -->
    <div class="row row-sm">
        <div class="col-sm-12 mg-t-20">
            <label class="tx-10 tx-medium tx-primary tx-color-03 tx-uppercase tx-sans">
                Medios de Contacto
            </label>
        </div>
        <div class="col-sm-4">
            <label class="tx-10 tx-medium tx-primary tx-spacing-1 tx-color-03 tx-uppercase tx-sans">
                Correos Electrónicos:
            </label>
            <p class="mg-b-0">
                %textMediosContactoEmails%
            </p>
        </div>
        <div class="col-sm-4">
            <label class="tx-10 tx-medium tx-primary tx-spacing-1 tx-color-03 tx-uppercase tx-sans">
                Contactos Telefónicos:
            </label>
            <p class="mg-b-0">
                %textMediosContactoTlfs%
            </p>
        </div>
        <div class="col-sm-12 mg-t-20 mg-sm-t-30">
            <label class="tx-10 tx-medium tx-primary tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
                Direcciones
            </label>
            <p class="mg-b-0">
                %textDirecciones%
            </p>
        </div>
    </div>
    <!-- row -->
</template>
<template id="v-h-clinicas">
    <div class="timeline-item mg-b-5">
        <div class="timeline-time" data-toggle="tooltip" title="Fecha de Atención">
            %fechaAdmision%
        </div>
        <!-- timeline-body -->
        <div class="timeline-body">
            <h6 class="mg-b-0" data-toggle="tooltip" title="Médico Tratante">
                %nombreMedicoTratante%
            </h6>
            <p>
                <span class="tx-primary">
                    Especialidad:
                </span>
                %especialidad%
                <span class="tx-primary">
                    Origen:
                </span>
                %origen%
            </p>
            <p>
                Motivo de Consulta:
                <br/>
                %motivoCitaMedica%
            </p>
            <nav class="nav nav-row mg-t-15">
                <i class="icon ion-md-close-circle mg-r-5">
                </i>
                %message%
            </nav>
        </div>
    </div>
</template>
<template id="v-h-tel-clinicas">
    <div class="timeline-item mg-b-5">
        <div class="timeline-time" data-toggle="tooltip" title="Fecha de Atención">
            %fechaAdmision%
        </div>
        <div class="timeline-body">
            <h6 class="mg-b-0" data-toggle="tooltip" title="Médico Tratante">
                %nombreMedicoTratante%
            </h6>
            <p>
                <span class="tx-primary">
                    Especialidad:
                </span>
                %especialidad%
                <span class="tx-primary">
                    Origen:
                </span>
                %origen%
            </p>
            <p data-toggle="tooltip" title="Motivo de la Consulta">
                Motivo de Consulta:
                <br/>
                %motivoCitaMedica%
            </p>
            <nav class="nav nav-row mg-t-15 tx-primary">
                <a class="nav-link mg-b-0 detalle-hc" data-fechahc="%fechaAdmision%" data-numadm="%numeroAdmision%" id="hc-%fechaAdmision%-%numeroAdmision%" style="cursor: pointer;">
                    <i class="icon ion-md-document tx-18 tx-primary">
                    </i>
                    Ver Historia Clínica
                </a>
            </nav>
        </div>
        <!-- timeline-body -->
    </div>
</template>
<template id="v-hc-detalle">
    <div class="divider-text mg-b-0 mg-t-0">
        <a class="card-link mg-r-20 tx-30 prev" href="#">
            <i class="icon ion-md-arrow-dropleft-circle">
            </i>
        </a>
        <span class="tx-15">
            Página:
            <span class="page_num">
            </span>
            /
            <span class="page_count">
            </span>
        </span>
        <a class="card-link mg-l-20 tx-30 next" href="#">
            <i class="icon ion-md-arrow-dropright-circle">
            </i>
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <canvas id="render-resultado" width="100%">
        </canvas>
    </div>
    <div class="divider-text mg-b-30 mg-t-0">
        <a class="card-link mg-r-20 tx-30 prev" href="#">
            <i class="icon ion-md-arrow-dropleft-circle">
            </i>
        </a>
        <span class="tx-15">
            Página:
            <span class="page_num">
            </span>
            /
            <span class="page_count">
            </span>
        </span>
        <a class="card-link mg-l-20 tx-30 next" href="#">
            <i class="icon ion-md-arrow-dropright-circle">
            </i>
        </a>
    </div>
</template>
<template id="v-ver-resultado">
    <div class="divider-text mg-b-0 mg-t-0">
        <a class="card-link mg-r-20 tx-30 prev" href="#">
            <i class="icon ion-md-arrow-dropleft-circle">
            </i>
        </a>
        <span class="tx-15">
            Página:
            <span class="page_num">
            </span>
            /
            <span class="page_count">
            </span>
        </span>
        <a class="card-link mg-l-20 tx-30 next" href="#">
            <i class="icon ion-md-arrow-dropright-circle">
            </i>
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <canvas id="render-resultado-lab" width="100%">
        </canvas>
    </div>
    <div class="divider-text mg-b-30 mg-t-0">
        <a class="card-link mg-r-20 tx-30 prev" href="#">
            <i class="icon ion-md-arrow-dropleft-circle">
            </i>
        </a>
        <span class="tx-15">
            Página:
            <span class="page_num">
            </span>
            /
            <span class="page_count">
            </span>
        </span>
        <a class="card-link mg-l-20 tx-30 next" href="#">
            <i class="icon ion-md-arrow-dropright-circle">
            </i>
        </a>
    </div>
</template>
<template id="btn-table-opc-lab">
    <div class="btn-group" role="group">
        <button class="btn btn-xs btn-outline-primary ver-resultado" data-fecha="%fecha%" id="%id%" type="button">
            <i class="icon ion-md-document">
            </i>
            Ver
        </button>
        <button class="btn btn-xs btn-outline-primary descargar-resultado d-none" data-fecha="%fecha%" id="%id%" type="button">
            <i class="icon ion-md-download">
            </i>
            Descargar
        </button>
        <button class="btn btn-xs btn-outline-primary enviar-resultado d-none" id="%id%" title="Enviar por Correo Electrónico" type="button">
            <i class="icon ion-md-mail">
            </i>
            Enviar
        </button>
    </div>
</template>
<template id="btn-table-opc-img">
    <div class="btn-group" role="group">
        <button class="btn btn-xs btn-outline-primary ver-resultado-img" data-fecha="%fecha%" id="%id%" type="button">
            <i class="icon ion-md-document">
            </i>
            Ver
        </button>
    </div>
</template>
<template id="v-time-cita">
    <span class="badge badge-primary">
        Online
    </span>
</template>
<template id="v-l-atenciones">
    <div class="timeline-group tx-13 align-items-center">
        <div class="timeline-label">
            Historial de Atenciones
        </div>
        <div id="l-atenciones">
        </div>
    </div>
</template>
<br/>
