{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Perfil | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed content-profile">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar pd-lg-r-25">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg">
                        <div class="avatar avatar-xxl avatar-online">
                            <img alt="" class="rounded-circle" src="https://via.placeholder.com/500"/>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                        <h5 class="mg-b-2 tx-spacing--1">
                            Fen Chiu Mao
                        </h5>
                        <p class="tx-color-03 mg-b-25">
                            @fenchiumao
                        </p>
                        <p class="tx-13 tx-color-02 mg-b-25">
                            Redhead, Innovator, Saviour of Mankind, Hopeless Romantic, Attractive 20-something Yogurt Enthusiast...
                            <a href="">
                                Read more
                            </a>
                        </p>
                        <div class="d-flex">
                            <div class="profile-skillset flex-fill">
                                <h4>
                                    <a class="link-01" href="">
                                        1.4k
                                    </a>
                                </h4>
                                <label>
                                    Stars
                                </label>
                            </div>
                            <div class="profile-skillset flex-fill">
                                <h4>
                                    <a class="link-01" href="">
                                        2.8k
                                    </a>
                                </h4>
                                <label>
                                    Followers
                                </label>
                            </div>
                            <div class="profile-skillset flex-fill">
                                <h4>
                                    <a class="link-01" href="">
                                        437
                                    </a>
                                </h4>
                                <label>
                                    Following
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                        <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">
                            Especialidades
                        </label>
                        <ul class="list-inline list-inline-skills">
                            <li class="list-inline-item">
                                <a href="">
                                    HTML5
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Sass
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    CSS
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    React
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    jQuery
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Angular
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Wordpress
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Photoshop
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    PHP
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Node
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Git
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Front-End Development
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    Web Design
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                        <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">
                            Contact Information
                        </label>
                        <ul class="list-unstyled profile-info-list">
                            <li>
                                <i data-feather="briefcase">
                                </i>
                                <span class="tx-color-03">
                                    Bay Area, San Francisco, CA
                                </span>
                            </li>
                            <li>
                                <i data-feather="home">
                                </i>
                                <span class="tx-color-03">
                                    Westfield, Oakland, CA
                                </span>
                            </li>
                            <li>
                                <i data-feather="smartphone">
                                </i>
                                <a href="">
                                    (+1) 012 345 6789
                                </a>
                            </li>
                            <li>
                                <i data-feather="phone">
                                </i>
                                <a href="">
                                    (+1) 987 654 3201
                                </a>
                            </li>
                            <li>
                                <i data-feather="mail">
                                </i>
                                <a href="">
                                    me@fenchiumao.me
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                        <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">
                            Explore
                        </label>
                        <nav class="nav nav-classic tx-13">
                            <a class="nav-link" href="">
                                <i data-feather="users">
                                </i>
                                <span>
                                    Groups
                                </span>
                            </a>
                            <a class="nav-link" href="">
                                <i data-feather="calendar">
                                </i>
                                <span>
                                    Events
                                </span>
                            </a>
                            <a class="nav-link" href="">
                                <i data-feather="briefcase">
                                </i>
                                <span>
                                    Jobs
                                </span>
                            </a>
                            <a class="nav-link" href="">
                                <i data-feather="globe">
                                </i>
                                <span>
                                    Discover People
                                </span>
                            </a>
                            <a class="nav-link" href="">
                                <i data-feather="shopping-bag">
                                </i>
                                <span>
                                    Buy & Sell
                                </span>
                            </a>
                        </nav>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- profile-sidebar -->
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
                <div class="card card-profile-interest">
                    <div class="card-body pd-25">
                        <div class="row">
                            <div class="col-sm col-lg-12 col-xl">
                                <div class="media">
                                    <div class="wd-45 ht-45 bg-primary rounded d-flex align-items-center justify-content-center">
                                        <i class="tx-white-7 wd-20 ht-20" data-feather="briefcase">
                                        </i>
                                    </div>
                                    <div class="media-body pd-l-25">
                                        <h6 class="tx-color-01 mg-b-5">
                                            Github, Inc.
                                        </h6>
                                        <p class="tx-12 mg-b-10">
                                            Web-based hosting service for version control using Git...
                                            <a href="">
                                                Learn more
                                            </a>
                                        </p>
                                        <span class="tx-12 tx-color-03">
                                            6,182,220 Followers
                                        </span>
                                    </div>
                                </div>
                                <!-- media -->
                                <div class="media">
                                    <div class="wd-45 ht-45 bg-warning rounded d-flex align-items-center justify-content-center">
                                        <i class="tx-white-7 wd-20 ht-20" data-feather="truck">
                                        </i>
                                    </div>
                                    <div class="media-body pd-l-25">
                                        <h6 class="tx-color-01 mg-b-5">
                                            DHL Express
                                        </h6>
                                        <p class="tx-12 mg-b-10">
                                            Logistics company providing international courier service...
                                            <a href="">
                                                Learn more
                                            </a>
                                        </p>
                                        <span class="tx-12 tx-color-03">
                                            3,005,192 Followers
                                        </span>
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <!-- col -->
                            <div class="col-sm col-lg-12 col-xl mg-t-25 mg-sm-t-0 mg-lg-t-25 mg-xl-t-0">
                                <div class="media">
                                    <div class="wd-45 ht-45 bg-primary rounded d-flex align-items-center justify-content-center">
                                        <i class="tx-white-7 wd-20 ht-20" data-feather="facebook">
                                        </i>
                                    </div>
                                    <div class="media-body pd-l-25">
                                        <h6 class="tx-color-01 mg-b-5">
                                            Facebook, Inc.
                                        </h6>
                                        <p class="tx-12 mg-b-10">
                                            Online social media and social networking service company...
                                            <a href="">
                                                Learn more
                                            </a>
                                        </p>
                                        <span class="tx-12 tx-color-03">
                                            12,182,220 Followers
                                        </span>
                                    </div>
                                </div>
                                <!-- media -->
                                <div class="media">
                                    <div class="wd-45 ht-45 bg-pink rounded d-flex align-items-center justify-content-center">
                                        <i class="tx-white-7 wd-20 ht-20" data-feather="instagram">
                                        </i>
                                    </div>
                                    <div class="media-body pd-l-25">
                                        <h6 class="tx-color-01 mg-b-5">
                                            Instagram
                                        </h6>
                                        <p class="tx-12 mg-b-10">
                                            Photo and video-sharing social networking service by Facebook...
                                            <a href="">
                                                Learn more
                                            </a>
                                        </p>
                                        <span class="tx-12 tx-color-03">
                                            3,005,192 Followers
                                        </span>
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- card-body -->
                </div>
                <!-- card -->
            </div>
            <!-- media-body -->
        </div>
        <!-- media -->
    </div>
    <!-- container -->
</div>
<!-- content -->
{% endblock %}
{% block appFooter %}
{% include 'overall/footer' %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
{% endblock %}
