{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Telemedicina | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appBody %}
<div class="content">
</div>
<!-- content -->
{% endblock %}
{% block appScripts %}
{% endblock %}
