{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Telemedicina | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
<body class="bg-gray-400">
</body>
<!-- content -->
{% endblock %}
{% block appScripts %}
{% endblock %}
