<footer class="footer">
      <div>
        <span>&copy; {{ "now"|date("Y") }} {{config.build.copyright}} </span>
      </div>
      <div>
        <nav class="nav d-none">
          <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
          <a href="{{config.build.url_changelog}}" class="nav-link">Change Log</a>
        </nav>
      </div>
</footer>