<header class="navbar navbar-header navbar-header-fixed">
      <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
      <div class="navbar-brand">
        <a href="{{config.build.url}}" class="df-logo">Tele<span>consulta</span></a>
      </div><!-- navbar-brand -->
      <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
          <a href="{{config.build.url}}" class="df-logo">Tele<span>consulta</span></a>
          <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        {% include 'overall/navbar-menu' %}
      </div><!-- navbar-menu-wrapper -->
      {% include 'overall/navbar-right' %}
      {% include 'overall/navbar-search' %}
</header>
<!-- navbar -->