 <header class="navbar navbar-header navbar-header-fixed">
            <a class="burger-menu" href="#" id="mainMenuOpen">
                <i data-feather="menu">
                </i>
            </a>
            <div class="navbar-brand">
                <a href="{{config.build.url}}" class="df-logo">Tele<span>consulta</span></a>
            </div>
            <!-- navbar-brand -->
            <div class="navbar-menu-wrapper" id="navbarMenu">
                <div class="navbar-menu-header">
                    <a href="{{config.build.url}}" class="df-logo">Tele<span>consulta</span></a>
                    <a href="#" id="mainMenuClose">
                        <i data-feather="x">
                        </i>
                    </a>
                </div>
                <!-- navbar-menu-header -->
                <ul class="nav navbar-menu">
                    <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">
                        Menu
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i data-feather="pie-chart">
                            </i>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i data-feather="box">
                            </i>
                            Nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i data-feather="archive">
                            </i>
                            Servicios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i data-feather="archive">
                            </i>
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
            <!-- navbar-menu-wrapper -->
        </header>
        <!-- navbar -->