<!DOCTYPE html>
<html>
    <head>
        <title>
            Redirigiendo al portal de Imagen del HM
        </title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/gh/alfg/ping.js@0.2.2/dist/ping.min.js" type="text/javascript">
        </script>
        <script type="text/javascript">
            var p = new Ping();
            var url_interno = 'https://172.16.1.149/zfp';
            var url_externo = 'https://imagen.hmetro.med.ec/zfp';
			p.ping("https://172.16.1.149/zfp", function(err, data) {
			  // Also display error if err is returned.
			  if (err) {
			    console.log("error loading resource");
			    window.location.assign(url_interno);
			  }
			   window.location.assign(url_externo);
			});
        </script>
    </body>
</html>