{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>Tickets | {{config.build.name}}</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link rel="stylesheet" href="assets/dashforge/assets/css/dashforge.profile.css">
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed bd-b">
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h4 class="mg-b-5">Help Support Center</h4>
            <p class="mg-b-0 tx-color-03">Search for any help questions or topics.</p>
          </div>
          <div class="search-form mg-t-20 mg-sm-t-0">
            <input type="search" class="form-control" placeholder="Search topic">
            <button class="btn" type="button"><i data-feather="search"></i></button>
          </div>
        </div>
      </div><!-- container -->
    </div><!-- content -->

    <div class="content">
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
          <div class="col-lg-3 col-xl-2 d-none d-lg-block">

            <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-15">Getting Started</label>
            <nav class="nav nav-classic">
              <a href="" class="nav-link">Download</a>
              <a href="" class="nav-link active">Installation</a>
              <a href="" class="nav-link">Accessibility</a>
              <a href="" class="nav-link">Supported Devices</a>
            </nav>
          </div><!-- col -->

          <div class="col-lg-9 col-xl-10">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Help Center</a></li>
                <li class="breadcrumb-item"><a href="#"><span class="d-sm-none">...</span><span class="d-none d-sm-inline">Getting Started</span></a></li>
                <li class="breadcrumb-item active" aria-current="page">Installation</li>
              </ol>
            </nav>
            <h3 class="mg-b-25">Installation</h3>

            <div class="row">
              <div class="col-sm-6">
                <div class="bd pd-20">
                  <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">NPM Installation</label>
                  <ul class="list-unstyled lh-7 mg-b-0">
                    <li><a href="" class="link-01">Common errors when intalling NPM</a></li>
                    <li><a href="" class="link-01">NPM for Windows</a></li>
                    <li><a href="" class="link-01">Cannot install npm in mac</a></li>
                    <li><a href="" class="link-01">NPM does not recognize in local</a></li>
                    <li><a href="" class="link-01">NPM version not showing when doing command</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                <div class="bd pd-20">
                  <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">Bootstrap Installation</label>
                  <ul class="list-unstyled lh-7 mg-b-0">
                    <li><a href="" class="link-01">Common errors when intalling Bootstrap</a></li>
                    <li><a href="" class="link-01">Migrating from Bootstrap 3</a></li>
                    <li><a href="" class="link-01">Bootstrap using Webpack</a></li>
                    <li><a href="" class="link-01">Bootstrap react components</a></li>
                    <li><a href="" class="link-01">Example of bootsrap page using navbar</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                <div class="bd pd-20">
                  <label class="tx-sans tx-10 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-10">SASS Customization</label>
                  <ul class="list-unstyled lh-7 mg-b-0">
                    <li><a href="" class="link-01">Minimize sass to css without bootstrap</a></li>
                    <li><a href="" class="link-01">Adding more utilities classes in sass</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- row -->
          </div><!-- col -->
        </div><!-- row -->

        <hr class="mg-t-60 mg-b-30">

        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card card-help">
              <div class="card-body tx-13">
                <div class="tx-60 lh-0 mg-b-25"><i class="icon ion-ios-cog"></i></div>
                <h5><a href="" class="link-01">Integrations</a></h5>
                <p class="tx-color-03 mg-b-0">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molesti...</p>
              </div><!-- card-body -->
              <div class="card-footer tx-13">
                <span>18 Topics</span>
                <a href="" class="tx-18 lh-0"><i class="icon ion-md-arrow-forward"></i></a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-20 mg-sm-t-0">
            <div class="card card-help">
              <div class="card-body tx-13">
                <div class="tx-60 lh-0 mg-b-25"><i class="icon ion-ios-laptop"></i></div>
                <h5><a href="" class="link-01">Supported Devices</a></h5>
                <p class="tx-color-03 mg-b-0">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molesti...</p>
              </div><!-- card-body -->
              <div class="card-footer tx-13">
                <span>22 Topics</span>
                <a href="" class="tx-18 lh-0"><i class="icon ion-md-arrow-forward"></i></a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-20 mg-sm-t-30 mg-lg-t-0">
            <div class="card card-help">
              <div class="card-body tx-13">
                <div class="tx-60 lh-0 mg-b-25"><i class="icon ion-ios-cart"></i></div>
                <h5><a href="" class="link-01">Pricing &amp; Billing</a></h5>
                <p class="tx-color-03 mg-b-0">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molesti...</p>
              </div><!-- card-body -->
              <div class="card-footer tx-13">
                <span>11 Topics</span>
                <a href="" class="tx-18 lh-0"><i class="icon ion-md-arrow-forward"></i></a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-20 mg-sm-t-30 mg-lg-t-0">
            <div class="card card-help">
              <div class="card-body tx-13">
                <div class="tx-60 lh-0 mg-b-25"><i class="icon ion-ios-filing"></i></div>
                <h5><a href="" class="link-01">Features</a></h5>
                <p class="tx-color-03 mg-b-0">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molesti...</p>
              </div><!-- card-body -->
              <div class="card-footer tx-13">
                <span>15 Topics</span>
                <a href="" class="tx-18 lh-0"><i class="icon ion-md-arrow-forward"></i></a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
      </div>
    </div><!-- content -->
{% endblock %}
{% block appFooter %}
{% include 'overall/footer' %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js"></script>
{% endblock %}